// ==UserScript==
// @name         CyberForum repaint icon
// @namespace    http://lerarosalene.link/
// @version      {{VERSION}}
// @description  {{& DESCRIPTION}}
// @author       {{& AUTHOR}}
// @match        https://www.cyberforum.ru/*
// @grant        none
// @icon         {{& SCRIPT_ICON}}
// ==/UserScript==

